---
import Layout from "../layout/Layout.astro";

const title = "About";
const text = `${title} Us`;
---

<Layout pageTitle={title} h1Text={text}>
  <p>This is the about page where you can learn more about our website.</p>
</Layout>
