---
import Layout from "../layout/Layout.astro";

const title = "Home";
const text = `Welcome to the ${title} Page`;
---

<Layout pageTitle={title} h1Text={text}>
  <p>This is the main content of the homepage.</p>
</Layout>
